@import "variables";

.VerticalBarChart {
  .recharts-tooltip-wrapper {
    z-index: 10;
  }
  .recharts-surface {
    overflow: visible;
  }
  .recharts-bar-rectangle {
    fill: $charts-rectangle-fill;
  }
  .recharts-text {
    fill: $charts-label-fill;
  }
}
