@import "variables";

.navbar {
  background-color: $light-bg-color;
  border-radius: 0;
  border: none;
}

@media(max-width: $screen-xs-max) {
  .navbar {
    .navbar-header {
      width: 16.66%;
      float: left;
      margin-left: 0;
      margin-right: 0;
    }

    .navbar-nav {
      margin: 0 -20px;
    }

    .navbar-left {
      width: 66.66%;
      float: left;
      margin-left: 0;
      text-align: center;
    }

    .navbar-right {
      width: 16.66%;
      float: right;
    }

    .icon {
      font-size: 24px;
    }
  }
}

@media (min-width: $screen-xs-max) {
  .navbar-nav {
    margin: 0 20px;
  }
}
