@import 'variables';

.panel {
  position: relative;
  min-height: $widget-height;
  margin-bottom: $grid-gutter-width;
  border-color: $widget-border-color;
  overflow: hidden;   // fixes a layout issue on IE11

  @media(min-width:768px){
    height: $widget-height;
  }

  .panel-heading {
    height: 52px;
    padding: $space-medium 0 $space-medium $space-medium;
    font-size: 24px;
    color: $widget-heading-color;
    letter-spacing: .04em;
  }
  .panel-body {
    min-height: 155px;
    padding: 0 $space-medium 0 $space-medium;
  }
  .panel-footer {
    border: 0;
    padding: $space-medium;
    background: $panel-bg;
    font-size: $font-size-small;
    line-height: $font-size-small;
    color: $rocket-gray;
    &::first-letter {
      text-transform: uppercase;
    }
  }

}
