.panel {
  margin-bottom: $grid-gutter-width;
  min-height: $widget-height;
  border-color: $widget-border-color;
  overflow: hidden;   // fixes a layout issue on IE11

  .panel-heading {
    min-height: 30px;
    padding: $space-medium 0 $space-medium $space-medium;
    font-size: 22px;
    color: $rocket-gray;
    letter-spacing: .04em;
  }
  .panel-body {
    padding: 0 $space-medium $space-medium $space-medium;
  }
}
