@import 'variables';

body {
  background: $default-bg-color;
  padding: 0;
  margin: 0;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
}

.icon {
  font-family: "FontAwesome";
}

@media (max-width: $screen-xs-max) {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}
