$main-color: #337ab7; // is taken from bootstrap ($brand-primary)

$outer-bg-color: #fdfdfd;
$default-bg-color: #fff;

$line-color: #e7e7e7;
$line-thickness: 1px;

$margin: 15px;
$widget-body-min-height: 100px;

// to override default bootstrap variables
// https://raw.githubusercontent.com/twbs/bootstrap-sass/master/assets/stylesheets/bootstrap/_variables.scss
