@import "variables";

.Text {
  font-size: 22px;
  color: $rocket-gray;

  &.twitterFeed {
    font-size: 18px;
  }
}

*:fullscreen{
  .Text {
    font-size: $font-size-fullscreen-text;
    color: $rocket-gray;

    &.twitterFeed {
      font-size: $font-size-fullscreen-text;
    }
  }
}

// Laptop screen
@media (min-width: $screen-md-min) {
  .Text {
    font-size: 18px;

    &.twitterFeed {
      font-size: 16px;
    }
  }
}

// Desktop screen
@media (min-width: $screen-lg-min) {
  .Text {
    font-size: 20px;

    &.twitterFeed {
      font-size: 18px;
    }
  }
}

// Wide screen desktop
@media (min-width: $screen-wide-min) {
  .Text {
    font-size: 22px;

    &.twitterFeed {
      font-size: 20px;
    }
  }
}
