@import 'variables';

.BugsHistory {
  &.panel {
    height: 320px;
  }

  .bugs-current {
    font-size: $font-size-big;
    color: $rocket-gray;
  }

  .BasicTable {
    .date {
      color: $rocket-gray;
    }

    .open-bugs {
      color: $main-color;
    }

    .solved-bugs {
      color: $green;
    }

    .new-bugs {
      color: $red;
    }
  }

}
