@import 'variables';

.BugsHistory {
  &.panel {
    height: 320px;
  }

  .panel-body {
    height: 75%;
  }

  .row {
    height: 100%;
  }

  .bugs-current {
    font-size: $font-size-big;
    color: $rocket-gray;
  }

  .BasicTable {
    .date {
      color: $rocket-gray;
    }

    .open-bugs {
      color: $main-color;
    }

    .solved-bugs {
      color: $green;
    }

    .new-bugs {
      color: $red;
    }
  }
}

*:fullscreen {
  .BugsHistory {
    &.panel {
      height: 100%;
    }
  }
}
