# BugsHistory: To access a Google Sheets a service account is needed.
# https://github.com/rocket-internet-berlin/RocketDashboard/blob/master/README.md#google-spreadsheets-the-bugs-history-widget
BUGS_HISTORY_SPREADSHEET_ID=""
BUGS_HISTORY_DATA_RANGE=""

GOOGLE_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=""

# New Relic Insights API requires so called "query key"
# insights.newrelic.com  > Manage Data > API Keys > Query Keys
NEWRELIC_ACCOUNT_ID=""
NEWRELIC_QUERY_KEY=""

# JIRA credentials of a user with access to the project
JIRA_HOST = ""
JIRA_USERNAME = ""
JIRA_PASSWORD = ""

# Key for fetching stock information, e.g. FRA:RKET for Rocket Internet or ETR:DHER for Delivery Hero.
STOCK_TICKER = ""
COMPANY_NAME = ""

# Key for Open Weather API
WEATHER_API_KEY = ""
WEATHER_API_CITY_ID = ""