@import "variables";

.JiraIssues {
  $blocker-color: #ff2b19;
  $critical-color: #ff796e;
  $others-color: #ffb8b2;

  .recharts-x-axis,
  .recharts-y-axis {
    display: none;
  }

  .HorizontalBarChart {
    margin-left: -60px;
  }

  .recharts-surface {
    overflow: visible;
  }

  .recharts-bar {
    .recharts-bar-rectangle:first-of-type {
      fill: $blocker-color;
    }
    .recharts-bar-rectangle:nth-of-type(2n+2) {
      fill: $critical-color;
    }
    .recharts-bar-rectangle {
      fill: $others-color;
    }
  }
  .recharts-bar-labels {
    .recharts-bar-label:first-of-type {
      fill: $blocker-color;
    }
    .recharts-bar-label:nth-of-type(2n+2) {
      fill: $critical-color;
    }
    .recharts-bar-label {
      fill: $others-color;
    }
  }

  .labels-container {
    display: flex;
  }

  .label {
    width: 33%;
    text-align: center;
    font-size: $font-size-small;
    overflow: hidden;
    color: $others-color;
  }

  .label-blockers {
    color: $blocker-color;
  }

  .label-criticals {
    color: $critical-color;
  }
}
