@import 'variables';

/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
    overflow: hidden;
}

.WidgetSettingsModalOverlay {
  background-color: $secondary-bg-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}

.WidgetSettingsModal {
  top: 100px;
  position: relative;
  width: 500px;
  margin: auto;
  background-color: $primary-bg-color;
  color: $primary-text-color;
  opacity: 1;

  .modal-content {
    padding: $space-large;
  }

  ul {
    list-style: none;
  }

  label {
    font-size: 16px;
    cursor: pointer;
  }

  input {
    cursor: pointer;
    margin-right: $space-small;
  }

  .icon {
    position: relative;
    cursor: pointer;
    float: right;
    font-size: 22px;
  }
}

/**
 * Tablet device
 */
@media(max-width: $screen-lg-max) {
  .WidgetSettingsModal {

    .modal-content {
      height: 600px;
      overflow-y: scroll;
    }

    ul {
      padding-left: $space-small;
    }
  }
}

/**
 * Tablet device
 */
@media(max-width: $screen-md-max) {
  .WidgetSettingsModal {

    .modal-content {
      height: 90%;
      overflow-y: scroll;
    }

    ul {
      padding-left: $space-small;
    }
  }
}

/**
 * Mobile device
 */
@media(max-width: $screen-xs-max) {
  .WidgetSettingsModal {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;

    .modal-content {
      height: 100%;
      overflow-y: scroll;
    }

    ul {
      padding-left: $space-small;
    }
  }
}
