@import "variables";

.Number {
  .current {
    font-size: $font-size-huge;
    color: $main-color;
  }

  .change {
    font-size: $font-size-normal;
    color: $rocket-gray;
    &:before {
      content: '\25b6';
    }
    &.increase:before {
      content: '▲';
    }
    &.decrease:before {
      content: '▼';
    }
  }
}
