@import "variables";

.Number {
  .current {
    font-size: $font-huge;
    color: $main-color;
  }

  .previous {
    font-size: $font-big;
    color: $rocket-gray;
    &.positiv:before {
      content: '⬆️';
    }
    &.negativ:before {
      content: '⬇️️';
    }
  }
}
