@import 'variables';

.NavigationBar {
  margin-left: $space-medium;
  margin-right: $space-medium;
  padding-top: 15px;
  border: 0;
  border-radius: 0;

  .navbar-brand {
    height: 50px;
    width: 50px;
    padding: 0;
  }

  .navbar-left {
    color: $rocket-gray;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: .04em;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
  }

  .navbar-right {
    padding: 0 $space-small;

    button {
      font-size: $font-small;
      border-color: transparent;
      background-color: transparent;
      color: $main-color;
      outline: none;
      cursor: pointer;
    }

    button:hover {
      cursor: hand;
    }

    button:active {
      box-shadow: none;
      color: $rocket-gray;
      background-color: transparent;
      border-color: transparent;
      outline: none;
    }
  }
}
