@import "./sass/bootstrap-custom";
@import "./sass/variables";
@import "./sass/panels";
@import "./sass/scaffolding";

.number-big {
  font-size: $font-huge;
  color: $main-color;
}

.number-normal {
  font-size: $font-big;
  color: $rocket-gray;
}
